table {
    margin: 0 auto;
    width: 400px;
    border: 1px dotted black;
    color: #5d5d5d;
}

th, td {
    width: 50px;
    text-align: center;
    border: 1px dotted #5D5D5D;
}

tr:last-child, tr:nth-child(6) {
    background-color: #5bc0de;
    color: white;
    font-weight: bold;
}

h3{
   color: #5D5D5D;
}

a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #5D5D5D;
    border-radius: 5px;
    background-color: #5bc0de;
}

a:hover {
    text-decoration: none;
    background-color: #5bc0de;
    color: red;
    border: 1px solid red;
}

span {
    font-size: large;
    font-weight: bold;
    color: #589fbf;
}
#calendar{
    border: 1px solid #5D5D5D;
    border-radius: 5px;
    padding: 10px;
    width: 45%;
    float: left;
    text-align: center;
    margin: 10px;
}
